.link {
    text-decoration: none;
    color: black;
    /*padding: 14px 25px;*/
    padding: 24px 45px;

    background-color: gray; 
    position: absolute;
    top: 50%;
    left: 1%;
    transform: translate(-1%, -50%);
}

.link:hover {
    background-color: tomato;
    /*padding: 14px 25px;*/
    padding: 24px 45px;
    
    position: absolute;
    top: 50%;
    left: 1%;
    transform: translate(-1%, -50%);
}

#project {
    padding: 24px 49px;
}

#aDiv {
    padding-top: 70px;
    position: relative;
}
