.link {
    text-decoration: none;
    color: black;
    padding: 24px 45px;

    background-color: gray; 
    position: absolute;
    top: 50%;
    left: 1%;
    transform: translate(-1%, -50%);
}

.link:hover {
    background-color: tomato;
}

#project {
    padding: 24px 48.5px;
}

#tryMe {
    padding: 24px 66px;
    background-color: lightblue; 
}

#tryMe:hover {
    background-color: tomato;
}

#aDiv {
    padding-top: 70px;
    position: relative;
}
